<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mastervidya.mastervidya">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".video.AdaptiveExoplayer"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.ViewAnswer"></activity>
        <activity android:name=".ui.QuizResult" />
        <activity android:name=".ui.Quizinfo" />
        <activity android:name=".ui.QuizaAcitivity" />
        <activity android:name=".ui.SpecialVideoListing" />
        <activity android:name=".ui.SpecialStudy_Chapters" />
        <activity android:name=".ui.VideoListing" />
        <activity android:name=".ui.Chapters" />
        <activity android:name=".ui.PaymentPage" />
        <activity android:name=".ui.AddClass1" />
        <activity android:name=".ui.UpgradePayment" />
        <activity android:name=".ui.Payments" />
        <activity android:name=".ui.SpecialStudy" />
        <activity android:name=".Subjects" />
        <activity android:name=".ui.TransactionActivity" />
        <activity android:name=".ui.Profile" />
        <activity android:name=".ui.AddClass" />
        <activity android:name=".ui.MyClass" />
        <activity android:name=".ui.Chat" />
        <activity android:name=".ui.Homepage" />
        <activity android:name=".ui.OtpPage" />
        <activity android:name=".ui.Signup" />
        <activity android:name=".ui.Login" />
        <activity
            android:name=".ui.IntroPage"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".video.OfflinePlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.Splashscreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video.OnlinePlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".video.DownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <receiver
            android:name=".services.SMSListener"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_xOKvcKnhNOcUOg" />

        <service
            android:name=".video.DemoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>